<div class="outer">
  <div class="middle">
    <div class="container-fluid inner">
      <div class="row text-center">
	<img src="/images/logo-white.png" class="img-responsive center-block" id="logo-big">
	<h1>The Butlers</h1>
	<p>You will be served soon...</p>
      </div>
    </div>
  </div>
</div>
