<div class="outer">
  <div class="middle">
    <div class="container-fluid inner">
      <div class="row text-center">
	<img src="/images/logo-white.png" class="img-responsive center-block" id="logo-big">
	<h1>The Butlers</h1>
	<p>You will be served soon...</p>
	<div>
	<a href="/machine/send" class="btn btn-sm btn-primary">Send Message</a>
	</div>
	</div>
    </div>
  </div>
</div>
