<div id="leaderboard" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="title">Best Top Uncle Scores</h1>
    </div>
    <div id="scoreline" class="col-md-10 col-md-offset-1">
      <p id="nick">Nickname..................................</p>
      <p id="score" class="pull-right">111</p>
    </div>
  </div>
</div>
