body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.jumbotron.user-profile {
    margin-bottom: 0;
}
.awards {
    background-color: #9FCCD4;
    padding: 30px 0;
}
.awards h2 {
    padding-bottom: 25px;
}